<h1> Coupons! </h1>

<ul>
    <% @coupons.each do |coupon| %>
        <li> <%= link_to "#{coupon.store} - #{coupon.coupon_code}", coupon_path(coupon) %> </li>
    <% end %>
</ul>

<%= button_to "Submit Coupon", new_coupon_path, method: "get" %>